# Spring Profile
SPRING_PROFILES_ACTIVE=

# Database
DEMO_SERVICE_DB_URL=
DEMO_SERVICE_DB_USERNAME=
DEMO_SERVICE_DB_PASSWORD=

ORDER_SERVICE_DB_URL=
ORDER_SERVICE_DB_USERNAME=
ORDER_SERVICE_DB_PASSWORD=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=

# Gateway
MSA_GATEWAY_URL=
DEMO_SERVICE_URL=
ORDER_SERVICE_URL=

# SECRET
JWT_SECRET=